<div class="config-layout">
    <div>
        <label>Label:</label>
    </div>
    <label class="config-checkbox">
        <input type="checkbox" name="ShowLabel" ng-model="config.ShowLabel">Show Label<br />
    </label>
    <div ng-show="config.ShowLabel">
        <select class="config-dropdown" ng-model="config.LabelType">
            <option ng-repeat="label in runtimeData.labelOptions" value="{{label.Type}}">{{label.Value}}</option>
        </select>
    </div>
    <label class="config-checkbox">
        <input type="checkbox" name="ShowTimestamp" ng-model="config.ShowTimestamp">Show Timestamp<br />
    </label>
    <label class="config-checkbox">
        <input type="checkbox" name="ShowValue" ng-model="config.ShowValue">Show Value<br />
    </label>
</div>
