<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Team-specific ruleset" Description="Team-specific extensions and overrides to the OSIsoft ruleset" ToolsVersion="15.0">
  <Include Path="OSIsoft.ruleset" Action="Default" />
  <!--Rules from the common OSIsoft ruleset may be overriden here.
      Overrides are by exception only and should include one of the following:
	  - A PBI number for the eventual removal of the override. For example, in a case where compliance will take a long time.
	  - A justification of why the override is required. -->
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="CA1303" Action="None" /> <!-- Prefer inline strings in sample code for readability -->
    <Rule Id="CA1031" Action="None" /> <!-- Allow catching general exceptions for sample code to ensure cleanup -->
    <Rule Id="CA2201" Action="None" /> <!-- Allow use of basic System.Exception in sample code -->
  </Rules>
</RuleSet>