<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="xNetworking" version="5.7.0.0"/>
  <package id="StorageDsc" version="4.8.0.0"/>
  <package id="xStorage" version="3.4.0.0"/>
  <package id="xPSDesiredStateConfiguration" version="8.10.0.0"/>
  <package id="xSystemSecurity" version="1.4.0.0"/>
</packages>