<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cchoco" version="2.4.0"/>
  <package id="PSDSSupportPIVS" version="0.0.0.3"/>
  <package id="xWebAdministration" version="2.8.0.0"/>
  <package id="xNetworking" version="5.7.0.0"/>
  <package id="xActiveDirectory" version="3.0.0.0"/>
  <package id="xPendingReboot" version="0.4.0.0"/>
  <package id="xStorage" version="3.4.0.0"/>
  <package id="xDnsServer" version="1.15.0.0"/>
  <package id="SqlServerDsc" version="13.2.0.0"/>
  <package id="SqlServer" version="21.1.18218"/>
</packages>

