
.sample-arrow {
    padding-Top: 10px;
}

.heading-group {
    position: absolute;
    left: 0;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.heading-label {
    margin-right: 2px
}

.config-layout {
    padding: 15px;
    font-size: 14px
}

.config-checkbox {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-left: 15px;
    font-size: 14px;
}

.config-dropdown {
    margin-top: 4px;
    margin-left: 15px;
}