trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - '/piwebapi_samples/Angular'

pr:
  branches:
    include:
      - master
  paths:
    include:
      - '/piwebapi_samples/Angular'

variables:
  - template: '/miscellaneous/build_templates/variables.yml'
  - name: projPath
    value: '/piwebapi_samples/Angular/AngularPIWebAPISample'
  - name: CredFile
    value: test-config.ts
  - name: CredFileLibrary
    value: product-readiness.piwebapi_angular.ts
  - name: covStream
    value: OMF_APIDotNet

jobs:
  - job: Tests
    pool:
      name: 00-OSIManaged-Test
      demands: USERNAME -equals $(covAgent)
    steps:
      - template: '/miscellaneous/build_templates/config.yml'
        parameters:
          fileOriginal: $(CredFile)
          fileLibrary: $(CredFileLibrary)
          filePath: $(projPath)

      - task: NodeTool@0
        inputs:
          versionSpec: '10.x'
        displayName: 'Specify Node version'

      - script: |
          npm install -g @angular/cli
        workingDirectory: $(Build.SourcesDirectory)$(projPath)/
        displayName: 'Install Angular CLI'

      - script: |
          npm ci
        workingDirectory: $(Build.SourcesDirectory)$(projPath)/
        displayName: 'Install dependencies'

      - script: ng test --watch=false
        workingDirectory: $(Build.SourcesDirectory)$(projPath)
        displayName: 'Run tests'

      - task: PublishTestResults@2
        condition: succeededOrFailed()
        inputs:
          testRunner: JUnit
          testResultsFiles: '**/TESTS-*.xml'

  - template: '/miscellaneous/build_templates/coverity.yml'
