# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt