trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - '/piwebapi_samples/Python'

pr:
  branches:
    include:
      - master
  paths:
    include:
      - '/piwebapi_samples/Python'

variables:
  - template: '/miscellaneous/build_templates/variables.yml'
  - name: projPath
    value: '/piwebapi_samples/Python'
  - name: CredFile
    value: test-config.py
  - name: CredFileLibrary
    value: product-readiness.piwebapi_python.py
  - name: covStream
    value: PIWebAPIPython

jobs:
  - job: Tests
    pool:
      name: 00-OSIManaged-Test
      demands: USERNAME -equals $(covAgent)
    steps:
      - template: '/miscellaneous/build_templates/config.yml'
        parameters:
          fileOriginal: $(CredFile)
          fileLibrary: $(CredFileLibrary)
          filePath: $(projPath)

      - script: |
          python -m pip install --upgrade pip
          pip install requests
          pip install requests_kerberos
          pip install unittest
          pip install unittest-xml-reporting
        workingDirectory: '$(Build.SourcesDirectory)$(projPath)'
        displayName: 'Install dependencies'

      - script: |
          python run_all_tests.py 2>&1
        workingDirectory: $(Build.SourcesDirectory)$(projPath)
        continueOnError: 'true'
        displayName: 'Run tests'

      - task: PublishTestResults@2
        condition: succeededOrFailed()
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: '**\output.xml'
          searchFolder: $(Build.SourcesDirectory)$(projPath)
          testRunTitle: 'Publish test results'

  - template: '/miscellaneous/build_templates/coverity.yml'
