<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="StorageDsc" version="4.8.0.0"/>
  <package id="xStorage" version="3.4.0.0"/>
  <package id="xNetworking" version="5.7.0.0"/>
  <package id="SqlServerDsc" version="13.2.0.0"/>
  <package id="xPSDesiredStateConfiguration" version="8.10.0.0"/>
  <package id="xActiveDirectory" version="3.0.0.0"/>
  <package id="xFailOverCluster" version="1.13.0.0"/>
  <package id="cNtfsAccessControl" version="1.4.1"/>
  <package id="xSmbShare" version="2.2.0.0"/>
</packages>